/* general configuration */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Div properties */

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35); /* gram */
    margin: 0 auto; /* Centralize Div */
    position: relative;
    overflow: hidden; /* Remove what comes out of body */
    background: linear-gradient(#87ceeb,#e0f6ff); /* sky */
}

/* settings pipe */

.pipe{
    position: absolute;
    bottom: 0;
    width: 180px;
    animation: pipe-animation 2.5s infinite linear;
}

/* settings mario */

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}


.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.score {
    color: rgba(10, 10, 10, 0.63);
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.178);
}

h1{
    margin-block-start: 0.3em;
    margin-inline-start: 50%;
}

/* Animation pipe */

@keyframes pipe-animation {
    from {
        right: -180px;
    }

    to {
        right: 100%;
    }
}


/* Animation mario */

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}


/* Animation cloud */

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to {
        right: 100%;
    }
}